{% extends 'homs/layout.html' %}

{% block body %}

<div>
    <a href="{% url 'patient_edit' patient.id %}">edit {{patient}}</a>
    <a href="{% url 'patient_delete' patient.id %}">delete {{patient}}</a>
</div>
<table>
    <thead>
        <th>name</th>
        <th>age</th>
        <th>gender</th>
        <th>phone</th>
        <th>doctor's name</th>
        <th>tests</th>
        <th>total price</th>
        <th>entry time</th>
    </thead>
    <tbody>
        <tr>
            <td>{{patient.name}}</td>
            <td>{{patient.age}} {{patient.date}}</td>
            <td>{{patient.gender}}</td>
            <td>{{patient.phone}}</td>
            <td>{{patient.dr}}</td>
            <td>
                {% for test in patient.test.all %}
                {{test.name}}
                {% endfor %}
                
            </td>
            <td>{{patient.total_prise}}</td>
            <td>{{patient.entry}}</td>
        </tr>
    </tbody>
</table>

<ul>
    {% for test in patient.result_set.all %}
    <li>{{test.test}}: {{test.result}}=>{{test.wrote}} 
        <a href="{% url 'result' test.id %}">result</a>
        {% if test.wrote == 'True' %}
        <a href="{% url 'result_print' test.id %}">print</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}